@model IEnumerable<blog.data.models.Category>

@{
    ViewData["Title"] = "Index";
}

 
<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt"></i>
                </a>  
                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fas fa-search"></i>
                </a>
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
