@model IEnumerable<blog.data.models.Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategories)
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td> 
                    @string.Join(" / ", @item.PostCategories.Select(x => x.Category.Name)) 
            </td> 
            <td>

                   <a class="btn btn-sm btn-outline-dark" asp-action="Upload" asp-controller="PostImages" asp-route-id="@item.Id">
                    <i class="fas fa-image"></i>
                </a>  

    <a title="Resim Listesi" asp-action="index" asp-controller="PostImages" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">
                                <i class="fas fa-image"></i>
                            </a>

                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt"></i>
                </a>  
                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fas fa-search"></i>
                </a>
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
